# Node.js
node_modules/

# Editor directories
.vscode/
.idea/

# Dependency directories
*.pnp
.pnp.js

# Runtime data
pnpify/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled files
/dist
/build

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# .env files should not be pushed to the repo
.env*

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Cache files
.cache/
